[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/MichaelStromberg/zlib-ng.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/MichaelStromberg/zstd.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/MichaelStromberg/lz4.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/MichaelStromberg/zlib.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/MichaelStromberg/snappy.git
[submodule "quicklz"]
	path = quicklz
	url = https://github.com/MichaelStromberg/quicklz.git
